.button{

    a{
        font-weight: bold;
        background-color: #0A0;
        cursor: pointer;
        padding: 3px 18px;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        letter-spacing: .03em;
        border-color: transparent;
    }
}

td {
    padding: 0 10px 10px;
    line-height: 1.2em;
}

table{
    th{
        padding: 10px 0;
        background-color: #ccc;
    }

    tr:nth-child( odd ) td{
        background-color: #fafafa;
    }

    tr:nth-child( even ) td{
        background-color: #ccc;
    }

    tr:nth-last-child(1) td{
        background-color: #fff;
        padding-top: 10px;
    }

    td {
        padding: 5px 10px 5px;
        line-height: 1.2em;
        
        div a{
            display: flex;
            text-decoration: none;
        }
    }
}

