<nav class="pv3 ph3 ph4-ns" role="navigation">
  <input type="checkbox" id="zero-menustate" class="zero-menustate" data-original-tabindex="" data-original-aria-hidden="" style="display:none;">
  <div class="main-header__top-row">
    <div class="flex flex-l justify-between items-center center">
      <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
        {{ with .Site.Params.site_logo }}
          <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </a>
      <div class="flex-l items-center header-menu">
        {{ partial "i18nlist.html" . }}
        {{ if .Site.Menus.main }}
          <ul class="pl0 mr3 d-lg">
            {{ range .Site.Menus.main }}
            <li class="list f5 f4-ns fw4 dib pr3 pb3 {{ .Params.class }}">
              <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>

          
            <div class="d-md top-row__hamb-col">
              <label class="zero-menuicon-label" for="zero-menustate" aria-hidden="true">
                <span class="zero-menuicon-bread zero-menuicon-bread-top">
                  <span class="zero-menuicon-bread-crust zero-menuicon-bread-crust-top"></span>
                </span>
                <span class="zero-menuicon-bread zero-menuicon-bread-bottom">
                  <span class="zero-menuicon-bread-crust zero-menuicon-bread-crust-bottom"></span>
                </span>
              </label>
              <a href="#zero-menustate" role="button" class="zero-menuanchor zero-menuanchor-open" id="zero-menuanchor-open">
                <span class="zero-menuanchor-label">Global Nav Open Menu</span>
              </a>
              <a href="#" role="button" class="zero-menuanchor zero-menuanchor-close" id="zero-menuanchor-close">
                <span class="zero-menuanchor-label">Global Nav Close Menu</span>
              </a>
            </div>
            
        {{ end }}
        {{ partialCached "social-follow.html" . }}
      </div>
    </div>
    <div class="top-row__mobile-menu d-md">
      <ul class="mobile-menu">
        {{ range .Site.Menus.main }}
        <li class="list mobile-menu__el {{ .Params.class }}">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  </nav>
  