{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-full lh-copy mid-gray">
    {{- with .Params.courses -}}
    <div class="course-list">
      {{- range . -}}
      <div class="course-list__el">
        <a href="{{- .url -}}" title="{{- .title -}}">
          <img src="{{- .image -}}" alt="{{- .title -}}" />
          <h2 class="course-title">{{- .title -}}</h2>
        </a>
        <div>
          {{- .description | markdownify -}}
        </div>
      </div>
      {{- end -}}
    </div>
    {{- end -}}
    <div class="tl">
      {{- .Content | markdownify -}}
    </div>
  </article>
{{ end }}
